<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.song.mapper.MenuMapper">
  <resultMap id="BaseResultMap" type="com.song.model.Menu">
    <!--@mbg.generated-->
    <!--@Table menu-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="path" jdbcType="VARCHAR" property="path" />
    <result column="component" jdbcType="VARCHAR" property="component" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="iconCls" jdbcType="VARCHAR" property="iconCls" />
    <result column="keepAlive" jdbcType="BOOLEAN" property="keepAlive" />
    <result column="requireAuth" jdbcType="BOOLEAN" property="requireAuth" />
    <result column="parentId" jdbcType="INTEGER" property="parentId" />
    <result column="enabled" jdbcType="BOOLEAN" property="enabled" />
    <association property="meta" javaType="com.song.model.Meta">
      <result column="keepAlive" jdbcType="BIT" property="keepAlive" />
      <result column="requireAuth" jdbcType="BIT" property="requireAuth" />
    </association>
  </resultMap>
    <resultMap id="Menus" type="com.song.model.Menu" extends="BaseResultMap">

        <collection property="children" ofType="com.song.model.Menu">
            <id column="id2" property="id" jdbcType="INTEGER" />
            <result column="url2" property="url" jdbcType="VARCHAR" />
            <result column="path2" property="path" jdbcType="VARCHAR" />
            <result column="component2" property="component" jdbcType="VARCHAR" />
            <result column="name2" property="name" jdbcType="VARCHAR" />
            <result column="iconCls2" property="iconCls" jdbcType="VARCHAR" />
            <result column="parentId2" property="parentId" jdbcType="INTEGER" />
            <result column="enabled2" property="enabled" jdbcType="BIT" />
        </collection>
    </resultMap>
    <resultMap id="Menus2" type="com.song.model.Menu" extends="BaseResultMap">
        <collection property="children" ofType="com.song.model.Menu"
                    select="com.song.mapper.MenuMapper.getAllMenus" column="id"/>
    </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, url, `path`, component, `name`, iconCls, keepAlive, requireAuth, parentId, enabled
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    <!--@mbg.generated-->
    select 
    <include refid="Base_Column_List" />
    from menu
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    <!--@mbg.generated-->
    delete from menu
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.song.model.Menu" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into menu (url, `path`, component, 
      `name`, iconCls, keepAlive, 
      requireAuth, parentId, enabled
      )
    values (#{url,jdbcType=VARCHAR}, #{path,jdbcType=VARCHAR}, #{component,jdbcType=VARCHAR}, 
      #{name,jdbcType=VARCHAR}, #{iconCls,jdbcType=VARCHAR}, #{keepAlive,jdbcType=BOOLEAN}, 
      #{requireAuth,jdbcType=BOOLEAN}, #{parentId,jdbcType=INTEGER}, #{enabled,jdbcType=BOOLEAN}
      )
  </insert>
  <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.song.model.Menu" useGeneratedKeys="true">
    <!--@mbg.generated-->
    insert into menu
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="url != null">
        url,
      </if>
      <if test="path != null">
        `path`,
      </if>
      <if test="component != null">
        component,
      </if>
      <if test="name != null">
        `name`,
      </if>
      <if test="iconCls != null">
        iconCls,
      </if>
      <if test="keepAlive != null">
        keepAlive,
      </if>
      <if test="requireAuth != null">
        requireAuth,
      </if>
      <if test="parentId != null">
        parentId,
      </if>
      <if test="enabled != null">
        enabled,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        #{path,jdbcType=VARCHAR},
      </if>
      <if test="component != null">
        #{component,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="iconCls != null">
        #{iconCls,jdbcType=VARCHAR},
      </if>
      <if test="keepAlive != null">
        #{keepAlive,jdbcType=BOOLEAN},
      </if>
      <if test="requireAuth != null">
        #{requireAuth,jdbcType=BOOLEAN},
      </if>
      <if test="parentId != null">
        #{parentId,jdbcType=INTEGER},
      </if>
      <if test="enabled != null">
        #{enabled,jdbcType=BOOLEAN},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.song.model.Menu">
    <!--@mbg.generated-->
    update menu
    <set>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="path != null">
        `path` = #{path,jdbcType=VARCHAR},
      </if>
      <if test="component != null">
        component = #{component,jdbcType=VARCHAR},
      </if>
      <if test="name != null">
        `name` = #{name,jdbcType=VARCHAR},
      </if>
      <if test="iconCls != null">
        iconCls = #{iconCls,jdbcType=VARCHAR},
      </if>
      <if test="keepAlive != null">
        keepAlive = #{keepAlive,jdbcType=BOOLEAN},
      </if>
      <if test="requireAuth != null">
        requireAuth = #{requireAuth,jdbcType=BOOLEAN},
      </if>
      <if test="parentId != null">
        parentId = #{parentId,jdbcType=INTEGER},
      </if>
      <if test="enabled != null">
        enabled = #{enabled,jdbcType=BOOLEAN},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.song.model.Menu">
    <!--@mbg.generated-->
    update menu
    set url = #{url,jdbcType=VARCHAR},
      `path` = #{path,jdbcType=VARCHAR},
      component = #{component,jdbcType=VARCHAR},
      `name` = #{name,jdbcType=VARCHAR},
      iconCls = #{iconCls,jdbcType=VARCHAR},
      keepAlive = #{keepAlive,jdbcType=BOOLEAN},
      requireAuth = #{requireAuth,jdbcType=BOOLEAN},
      parentId = #{parentId,jdbcType=INTEGER},
      enabled = #{enabled,jdbcType=BOOLEAN}
    where id = #{id,jdbcType=INTEGER}
  </update>
    <resultMap id="MenuWithRole" type="com.song.model.Menu" extends="BaseResultMap">
        <collection property="roles" ofType="com.song.model.Role">
            <id column="rid" property="id"/>
            <result column="rname" property="name"/>
            <result column="rnameZh" property="nameZh"/>
        </collection>
    </resultMap>
    <select id="loadAllMenuByUid" resultMap="Menus">
       select distinct m1.*,m2.url as url2,m2.`id` as id2,m2.`component` as component2,m2.`enabled` as enabled2,m2.`iconCls` as iconCls2,m2.`keepAlive` as keepAlive2,m2.`name` as name2,m2.`parentId` as parentId2,m2.`requireAuth` as requireAuth2,m2.`path` as path2 from menu m1,menu m2,user_role ur,menu_role mr where m1.`id`=m2.`parentId` and ur.`uid`=#{id} and ur.`rid`=mr.`rid` and mr.`mid`=m2.`id` and m2.`enabled`=true order by m1.`id`,m2.`id`
    </select>

    <select id="getAllMenus" resultMap="Menus2">
       select*from menu where parentId=#{id}
    </select>

    <select id="getAllMenusWithRole" resultMap="MenuWithRole">
        select m.*,r.`id` as rid,r.`name` as rname,r.`nameZh` as rnameZh from menu m,menu_role mr,role r where m.`id`=mr.`mid` and mr.`rid`=r.`id` order by m.`id`
  </select>
    <select id="loadAllOneMenu" resultMap="BaseResultMap">
        select id,parentId,name from menu where parentId=1 or id=1
    </select>
    <select id="checkIsChild" resultType="java.lang.Integer">
        select count(1) from menu where parentId=#{id}
    </select>

</mapper>